<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=, initial-scale=1.0">

        <link rel="stylesheet" href="{{url_for('static', filename='css/style.css') }}">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.4.8/socket.io.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.5.0/socket.io.js"></script><!-- Important for socketio importing. Also run pip install eventlet alongside install flask_socketio-->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <script src="https://code.jquery.com/jquery-3.6.1.js" integrity="sha256-3zlB5s2uwoUzrXK3BT7AX3FyvojsraNFxCc2vC/7pNI=" crossorigin="anonymous"></script>

        <!--icon library-->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <title>QuickHelp-Chat</title>
    </head>

    <body class="chat-bod">

        <div class = "nav">
            <span class="hovertext" data-hover="go to this page">
            <nav>
                <ul id="horBar">  
                    <li>  
                    <a href="\chat"> CHATROOM </a>  
                    </li>  
                    <li>  
                    <a href = "\help"> HELPLINES </a>  
                    </li>  
                    <li>  
                    <a href = "\home"> HOME </a>  
                    </li> 
                </ul>
            </nav>
            </span>
        </div>
               

        <section>
            

            <aside>
                <h4>Online Psychologists</h4>
            
                <div class="chat">
                    
                    {% for name in online_users %}
            
                        <a href="/chat/{{ name }}">
                            {{ name }} Online
                        </a>

                        <br>

                    {% endfor %}
                    
                </div>

            </aside>

            <br>
            <p id="inboxchat">
                <b id="chat">{{ confid }}</b>
            </p>

            <div id="messages" class = "chat-display">
                    
                
                {% for message in messages %}
                
                    {% if message.message_to == confid %}

                        <!-- <div class="ptextmessage"> -->
                            <p class="ptextmessage">
                                {{ message.message }}
                            </p>
                        <!-- </div> -->
                        

                    {% else %}
                        <!-- <div class="ctextmessage"> -->
                            <p class="ctextmessage">
                                {{ message.message }}
                            </p>
                        <!-- </div> -->
                    {% endif %}

                {% endfor %}
                
                <!--
                <form method="post" id="msgfrm">
                    <textarea name="message" id="message" cols="30" rows="10" placeholder="Say something"></textarea>
                    <button type="submit" id="sendbtn"><i class="fa fa-send"></i> Send</button>
                </form>
                -->

                
            
            </div>


            <textarea name="message" id="message" cols="30" rows="10" placeholder="Say something"></textarea>
            <button type="submit" id="sendbtn"><i class="fa fa-send"></i> Send</button>

            
            

        </section>

        
        <!-- hidden tag used in js for sending the name of the confidant to the backend-->
        <input type="hidden" id="conf" name="whatever" value="{{ confid }}"/>

                    

        <div class = "bottom-section">
            <span class="hovertext" data-hover="click on image to complete action">
            <nav>
                <ul id="botBar">  
                    <li>  
                    <!-- test number-->  <a href="tel:0825748542"><img src="{{ url_for('static', filename='/img/call-img.png') }}" id = "logo" width = 25 height = 25></a>  
                    </li>  
                    <li>  
                    <a href = "mailto:quickhelp@gmail.com"><img src="{{ url_for('static', filename='/img/email-png.png') }}" id = "logo" width = 25 height = 25></a>  
                    </li>  
                    <li>  
                    <a><img src="{{ url_for('static', filename='/img/location-png.png') }}" id = "logo" width = 25 height = 25></a>  
                    </li> 
                </ul>
            </nav>
            </span>
        </div>

        <script src="{{ url_for('static', filename='/js/client.js') }}"> </script>
    </body>
</html>
