<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=, initial-scale=1.0">

        <link rel="stylesheet" href="{{url_for('static', filename='css/style.css') }}">
        <!--<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.4.8/socket.io.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.5.0/socket.io.js"></script> <!-- Important for socketio importing. Also run pip install eventlet alongside install flask_socketio->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>-->

        <!--icon library-->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <title>QuickHelp-Chat</title>
    </head>

    <body class="chat-bod">

        <div class = "nav">
            <img src="{{ url_for('static', filename='/img/quickhelplogo.jpeg') }}" id = "logo" width = 50 height = 50>
            <span class="hovertext" data-hover="go to this page">
            <nav>
                <ul id="horBar"> 
                    <li >
                        <a href="/logout" >LOGOUT</a>
                    </li>
                    <li>  
                    <a href="\chat"> CHATROOM </a>  
                    </li>  
                    <li>  
                    <a href = "\help"> HELPLINES </a>  
                    </li>  
                    <li>  
                    <a href = "\home"> HOME </a>
                    </li> 
                </ul>    
            </nav>
            </span>
        </div>
               

        <section>
            

            <aside>
                <h3>Online</h3>
            
                <div class="chat"> 
                    
                    {% for name in online_users %}
            
                        <a href="/chat/{{ name }}">
                            {{ name }} Online
                        </a>

                        <br>

                    {% endfor %}
                    
                </div>

            </aside>

            
            <br>
            <p id="inboxchat">
                <b id="chat"></b>
            </p>

            
            <div id="emptymessages" class = "chat-display">
                    
            
            </div>
            

        </section>

                    
        
                    

        <div class = "bottom-section">
            <span class="hovertext" data-hover="click on image to complete action">
            <nav>
                <ul id="botBar">  
                    <li>  
                    <!-- test number-->  <a href="tel:0655784075"><img src="{{ url_for('static', filename='/img/call-img.png') }}" id = "logo" width = 25 height = 25></a>  
                    </li>  
                    <li>  
                    <a href = "mailto:quickhelp@gmail.com"><img src="{{ url_for('static', filename='/img/email-png.png') }}" id = "logo" width = 25 height = 25></a>  
                    </li>  
                    <li>  
                    <a><img src="{{ url_for('static', filename='/img/location-png.png') }}" id = "logo" width = 25 height = 25></a>  
                    </li> 
                </ul>
            </nav>
            </span>
        </div>

        <!--<script src="{{ url_for('static', filename='/js/client.js') }}"> </script>-->
    </body>
</html>
