<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <script src="{{ url_for('static', filename='/js/main.js') }}"> </script>
        <link rel="stylesheet" href="{{url_for('static', filename='css/style.css') }}">
        <title>QuickHelp</title>
    </head>
    <body onload="getQuotes()">
        <form action="/" method="post" >
            <div class = "nav">
                <span class="hovertext" data-hover="go to this page">
                <nav>
                    <ul id="horBar">  
                        <li>  
                        <a href="\chat"> CHATROOM </a>  
                        </li>  
                        <li>  
                        <a href = "\help"> HELPLINES </a>  
                        </li>  
                        <li>  
                        <a href = "\home"> HOME </a>  
                        </li> 
                    </ul>
                </nav>
                </span>
            </div>
            <div id = "info-home">
                <h1> <img src="{{ url_for('static', filename='/img/quickhelplogo.jpeg') }}" align="center" id = "logo" width = 50 height = 50>QuickHelp</h1>
                <p id="infomain">
                    What is QuickHelp?<br>
                    This is an amazing site with the sole purpose of helping you. Do you need counselling, access to a helpline or even someone to talk to?
                    QuickHelp helps you out with all of that by providing quick and efficient access to top helplines, a psychologist read to talk to you and help you and many more features.
                    Explore by going to Helplines or go straight to the chatroom where you will find the psychologist ready to talk to you.   
                </p>
            </div>
            <div id="quotes">
                <h1>Quotes for you</h1>
                <p id="quotestext">
                </p>
            </div>
                     
            <div class = "bottom-section">
                <span class="hovertext" data-hover="click on image to complete action">
                <nav>
                    <ul id="botBar">  
                        <li>  
                        <!-- test number-->  <a href="tel:0825748542" onclick="callClick()"><img src="{{ url_for('static', filename='/img/call-img.png') }}" id = "logo" width = 25 height = 25></a>  
                        </li>  
                        <li>  
                        <a href = "mailto:quickhelp@gmail.com"><img src="{{ url_for('static', filename='/img/email-png.png') }}" id = "logo" width = 25 height = 25></a>  
                        </li>  
                        <li>  
                        <a><img src="{{ url_for('static', filename='/img/location-png.png') }}" id = "logo" width = 25 height = 25></a>  
                        </li> 
                    </ul>
                </nav>
                </span>
            </div>
    </form>
    </body>
</html>