<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <title>Signup</title>
</head>

<body class = "signbody">
   
    <div class="signup">
        <h1>QuickHelp Signup</h1>
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    {% for msg in messages %}
                        <p>{{msg}}</p>
                    {% endfor %}
                {% endif %}
            {% endwith %}
        <form action="", method = "post">
            <script src="{{ url_for('static', filename='/js/signup.js') }}"> </script>
            
            <label>Username</label><br>
            <input type="text" name="username" placeholder="Enter Username"><br>
            <label>Password</label><br> 
            <input type="password" name="password" placeholder="Enter Password"><br>
            <label>Confirm Password</label><br>
            <input type="password" name="password_conf" placeholder="Confirm Password"><br>

            <button type="submit" id = 'signbtn'>Signup</button>

        </form>
    </div>











</body>